body
{
	padding: 0;
	margin: 0;	
}

.ban
{
	height: 12%;
	position: fixed;
	background: rgba(42, 43, 44, 1);
}

.logoban
{
	height: 100%;
	width: auto;
}

.bandroite
{
	height: 100%;
}

#menu
{
	height: 100%;
	display: table;
}

#menu
{
	height: 100%;
	font-size: 130%;
	display: table;
}
	
#menu li, #menu a
{
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	width: 150px;
}

#menu a
{
	color: white;
	text-decoration: none;
	margin-right: 500 px;
}

#menu a:hover
{
	background: rgba(250, 250, 250, 0.1);
}

.active
{
	background: blue;
}

#trump
{
	height: 80%;
	width: 100%;
	float: left;
	margin-top: 5%;
	background: grey;
}

#citation
{
	height: 27%;
	width: 70%;
	margin-top: 25%;
	margin-left: 15%;
	background: rgba(250, 250, 250, 0.7);
	text-align: center;
	font-size: 1.5vw;
}

#defiler
{
	height:auto;
	width: 100%;
	text-align: center;
}

.defile
{
	height: 30px;
	width: 30px;
	border: 2px solid black;
	border-radius: 50%;
	margin-top: 1%;
	display: inline-block;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 1%;
}

.defile:hover
{
	background: rgba(250, 250, 250, 0.1);
}
